body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#0a6c8c;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

.news{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:5px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
}
